.container{
    margin: 50px 0px;
}

.card{
    margin:0 2% !important;
    background-color: rgba(121, 100, 237, 0.568) !important;
    color: white !important;
    box-shadow: 1px 1px 10px black !important;
}
.infected{
    border-bottom: 10px solid rgba(0,0,255,0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0,255,0,0.5);
}

.deaths{
    border-bottom: 10px solid rgba(255,0,0,0.5);
}

@media(max-width:770px){
    .card{
        margin: 2% 0 !important;
    }
}