body{
    /* background-color: rgba(100, 148, 237, 0.315); */
   
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    width: 370px;
    margin-top: 50px;
    
}

@media(max-width:770px){
    .container{
        margin: 0 10%,
    }
    .image{
        width:100%;
    }
}

a{
    padding: 15px;
    color: #000000;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: center;

}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    color: rgba(0, 0, 0, 0.938);
}
.links{
    /* background-color: rgb(247, 247, 75); */
    width: 100%;
    text-align: center;
    padding: 5px;
}